<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <h1>Please fill the required data to predict your Prononciation </h1>
    </div>
    <div>
        <h2>Your vowel is /{{ final_vowel }}/ with {{ final_confidence }} confidance</h2>
        <h2>Here is our suggestion</h2>
        <ol>
            <li><h3>{{ fb[0] }}</h3></li>
            <li><h3>{{ fb[1] }}</h3></li>
            <li><h3>{{ fb[2] }}</h3></li>
            <li><h3>{{ fb[3] }}</h3></li>
        </ol>
    </div>
    <div id="pron_hack">
        <h2>{{ ph }}</h2>
    </div>
</body>
</html>