<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vowel Tuner Privacy Policy</title>

    <link rel="shortcut icon" href="#">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}">

    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</head>

<body role="document">
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <span class="navbar-brand mobile" id="version-mobile">Vowel Tuner</span>
            </div>

            <span class="navbar-brand" id="version">Vowel Tuner</span>
        </div>
    </nav>

    <div class="container-fluid" role="main" id="main">
        <div class="alert alert-info">
            <span class="glyphicon glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            <b>Information:</b> We are including the disclaimer below for legal purposes. The short version is as follows:
            <ul>
                <li>We only collect the following data: the audio recordings that you create and your gender, once you click on the "Rate my vowel!" button.</li>
                <li>Your data is sent to and processed on a server located in the European Union, with the sole purpose of rating your pronunciation.</li>
                <li>Your data is immediately deleted after the pronunciation rating has been generated and displayed to you.</li>
                <li>In the unlikely event where the server would crash and your data not be deleted immediately, it will be deleted upon restart.</li>
                <li>We do not collect or use any cookies.</li>
            </ul>
        </div>

        <div id="privacy">
            <div class="panel panel-info panel-body">
                <h4>Vowel Tuner Privacy Policy</h4>
                Vowel Tuner is a student project realized within the scope of the second year of the MSc master in Natural Language Processing at the Institut du Digital, Management et Congition, a component of the Université de Lorraine.
                This privacy policy will explain how we use the personal data we collect from you when you use our website.

                <br/><br/><b>What data do we collect?</b><br/>
                Our Company collects the following data:
                <ul>
                    <li>Gender information (provided in the form)</li>
                    <li>Audio files recorded by your microphone</li>
                </ul>

                <br/><b>How do we collect your data?</b><br/>
                You directly provide Our Service with the data we collect. We collect data and process data when you click the "Rate my vowel!" button.
                If you recorded several audio files in a row, only the last one will be sent when clicking the button.

                <br/><br/><b>How will we use your data?</b><br/>
                Our Service collects your data so that we can estimate the probability of you pronouncing a vowel correctly in a given recording.

                <br/><br/><b>How do we store your data?</b><br/>
                Your data is processed and stored in a server located in the European Union.
                Your gender information is only kept in working memory ("RAM") and is never saved.
                Your audio recordings are saved temporarily for processing purposes, and the corresponding files are deleted immediately after the vowel rating is generated.
                In the unlikely event where the server would crash before your audio recordings have been deleted, they will be deleted upon rebooting.

                <br/><br/><b>What are your data protection rights?</b><br/>
                We would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:
                <ul>
                    <li>The right to access – You have the right to request Our Company for copies of your personal data. We may charge you a small fee for this service.</li>
                    <li>The right to rectification – You have the right to request that Our Company correct any information you believe is inaccurate. You also have the right to request Our Company to complete the information you believe is incomplete.</li>
                    <li>The right to erasure – You have the right to request that Our Company erase your personal data, under certain conditions.</li>
                    <li>The right to restrict processing – You have the right to request that Our Company restrict the processing of your personal data, under certain conditions.</li>
                    <li>The right to object to processing – You have the right to object to Our Company’s processing of your personal data, under certain conditions.</li>
                    <li>The right to data portability – You have the right to request that Our Company transfer the data that we have collected to another organization, or directly to you, under certain conditions.</li>
                </ul>

                If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us at one or several of the following e-mail addresses:
                <ul>
                    <li>soklong[dot]him6[at]etu[dot]univ-lorraine[dot]fr</li>
                    <li>nora[dot]lindvall[at]hotmail[dot]com</li>
                    <li>maxime[dot]meloux[at]protonmail[dot]com</li>
                    <li>jorge-luis[dot]vasquez-mercado9[at]etu[dot]univ-lorraine[dot]fr</li>
                </ul>

                <br/><h4>Cookies</h4>
                Cookies are text files placed on your computer to collect standard Internet log information and visitor behavior information. When you visit our websites, we may collect information from you automatically through cookies or similar technology.
                <br/>
                For further information, visit <a href="allaboutcookies.org">allaboutcookies.org</a>.

                <br/><br/><b>How do we use cookies?</b><br/>
                Our Service does not use cookies.

                <br/><br/><b>What types of cookies do we use?</b><br/>
                Our Service does not use cookies.

                <br/><br/><b>Privacy policies of other websites</b><br/>
                The Vowel Tuner website contains links to other websites. Our privacy policy applies only to our website, so if you click on a link to another website, you should read their privacy policy.

                <br/><br/><b>Changes to our privacy policy</b><br/>
                We will make sure to keep our privacy policy under regular review and place any updates on this web page. This privacy policy was last updated on 22 January 2013.

                <br/><br/><b>How to contact us</b><br/>
                If you have any questions about Our Service’s privacy policy, the data we hold on you, or you would like to exercise one of your data protection rights, please do not hesitate to contact us.
                <br/><br/>
                Email us at one or several of the following e-mail addresses:
                <ul>
                    <li>soklong[dot]him6[at]etu[dot]univ-lorraine[dot]fr</li>
                    <li>nora[dot]lindvall[at]hotmail[dot]com</li>
                    <li>maxime[dot]meloux[at]protonmail[dot]com</li>
                    <li>jorge-luis[dot]vasquez-mercado9[at]etu[dot]univ-lorraine[dot]fr</li>
                </ul>

                <br/><b>How to contact the appropriate authority</b><br/>
                Should you wish to report a complaint or if you feel that Our Service has not addressed your concern in a satisfactory manner, you may undertake actions as described on the <a href="https://commission.europa.eu/law/law-topic/data-protection/reform/rights-citizens/redress/what-should-i-do-if-i-think-my-personal-data-protection-rights-havent-been-respected_en">European Commission's dedicated webpage</a>.
            </div>
        </div>

    </div>
</body>
