matplotlib
pandas
textgrid
tqdm
wave
git+https://github.com/mwv/praat_formants_python#egg=praat_formants_python
Flask~=2.2.2
joblib~=1.2.0
numpy~=1.23.5
praat-parselmouth~=0.4.1
torch~=1.13.1
torchaudio~=0.13.1
torchvision~=0.14.1
librosa~=0.9.2
pydub~=0.25.1
scipy~=1.8.0
scikit-image~=0.19.3
scikit-learn~=1.2.0
jupyter