body {
    padding-top: 60px; /* Navbar */
    overflow-y: scroll; /* Prevents horizontal jump when changing between tabs with vs. without scrollbar */
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid #ccc;
}

br {
    margin-bottom: 10px;
}



input[type="number"] {
    width: 100px;
}

/* Improve display of dragged table rows */
.ui-sortable-helper {
  display: table;
}

.handle {
    width: 20px;
    color: #ccc;
}

/* Override default setting (bold) */
label {
    font-weight: normal;
}

/* Floating right buttons next to section titles */
.float-right {
  width:100%;
  display:inline-block;
  overflow: auto;
  white-space: nowrap;
  margin-top: 20px;
}

/* Align text vertically */
input[type="radio"],input[type="checkbox"], .valign {
    vertical-align: -1px;
}

textarea[readonly] {
    border: 1px solid #ccc;
    background-color: #F0F0F0;
    padding: 2px;
}

.modal-dialog {
    width: 700px;
}

.modal-footer {
    text-align: center;
}

/* Remove default background gradient */
.btn {
    background-image: none;
    padding: 3px 8px;
}

/* Not too sure why I ended up needing this */
.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
}

/* ============ Tables ============ */
th {
    padding: 8px 8px 8px 2px; /* Fix horizontal alignment */
}

tr.no-left>th {
    padding: 8px 8px 8px 2px !important; /* Fix horizontal alignment */
}

#itemLevels td, #results td {
    padding: 2px;
    vertical-align: middle;
}

#itemLevels2 td {
    padding: 10px 0px 10px 0px;
    border-top-color: #ccf;
    vertical-align: middle;
}

#itemLevels2 td:first-child {
    padding-left: 10px;
}

table.table-data td {
    border-left: 1px solid #ccf;
    text-align: center;
    padding: 10px;
}

#itemLevels2 table.table-data th {
    font-weight: normal;
    border-bottom-width: 1px;
    padding-right: 20px;
    border-color: #ccf;
}

#itemLevels2 table.table-data thead, #itemLevels2 .table-data thead th {
    font-weight: bold;
}

#itemLevels2 table.table-data {
    margin-bottom: -2px;
    display: table;
    border: 2px solid #88f;
    width: auto;
}

#itemLevels2 .table-data tr:hover {
    background-color: #eeeeff;
    color: #000099;
}

.w50 {
    min-width: 50px;
    padding: 5px;
}

.w90 {
    min-width: 90px;
    padding: 5px;
}

/* ================================ */

/* ============ Tooltips ============ */
.no-padding {
    padding: 0;
}

.tooltip-text {
    font-weight: bold;
    border-bottom: 1px dotted #000;
}

span.tooltip-left + div.tooltip {
    text-align: left;
}

.tooltip-inner {
    max-width: 300px;
    width: 300px; /* If max-width does not work, try using width instead */
    white-space: pre-wrap;
}
/* ================================== */

/* ============ Responsiveness ============ */
#version-mobile {
    display: none;  
}

@media (max-width: 640px) {
    #version-mobile {
        display: block;
    }
    #version {
        display: none;
    }
}

.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

.navbar-brand.mobile {
    text-align: left;
}
/* ================================ */

/* Not too sure why I ended up needing this */
.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
}

/* ============ Anchors, references and links ============ */
a.anchor {
    display: block;
    position: relative;
    top: -55px;
    visibility: hidden;
}

a.alink {
    padding: 2px 5px 2px 5px;
    border-radius: 5px;
}

a.alink:link, a.alink:visited {
    background-color: #ddd;
    color: #333;
}

a.alink:hover, a.alink:active {
    color: #002a5c;
    text-decoration-color: #002a5c;
    background-color: #9fb2c7;
}

td > samp {
    padding: 0px 4px 0px 4px;
    border-radius: 3px;
    background-color: #333;
    color: #fff;
}

/* ================================ */

/* ============ Used a bit everywhere ============ */
.left-pad {
    padding-left: 15px;
}

.left-pad5 {
    padding-left: 5px;
}

.green {
    color: green;
}

.red {
    color: darkred;
}

.top3 {
    margin-top:3px;
}

.top6 {
    margin-top:6px;
}

.top15 {
    margin-top: 15px;
}

.bottom10 {
    margin-bottom: 10px;
}

.bottom15 {
    margin-bottom: 15px;
}

.min50 {
    display:inline-block;
    width: 50px;
}

#loot-col-left {
    padding-right: 20px;
    border-right: 1px solid #ccc;
}

.full-size {
    width: 100%;
    height: 100%;
    min-height: 250px;
}

.br-high {
    margin-bottom: 20px;
}


.col-centered {
    text-align: center;
}
/* =============================================== */